<div class='award'>
	<h3>
		Selected Awards
	</h3>

	<ul >
		<li>2025, ZhiJin Scholarship (智瑾奖学金), Beijing Jiaotong University Education Foundation.</li>
		<li>2025, First-Class Academic Scholarship (一等学业奖学金), Beijing Jiaotong University. </li>
		<li>2025, Excellent Graduate Student Cadre (优秀研究生干部), Beijing Jiaotong University.</li>
		<li>2025, Excellent Scholarship in Social Work (社会工作优秀奖学金), Beijing Jiaotong University.</li>
		<li>2025, Excellent Part-time Counselor (优秀兼职辅导员), Beijing Jiaotong University.</li>

		<li>2024, Advanced Class of Graduate Students Award (研究生先进班集体, 团体奖), Beijing Jiaotong University.</li>	
		<li>2024, ZhiJin Scholarship (智瑾奖学金), Beijing Jiaotong University Education Foundation.</li>
		<li>2024, First-Class Academic Scholarship (一等学业奖学金), Beijing Jiaotong University. </li>
		<li>2024, Excellent Graduate Student Cadre (优秀研究生干部), Beijing Jiaotong University.</li>
		<li>2024, Excellent Scholarship in Social Work (社会工作优秀奖学金), Beijing Jiaotong University.</li>
		<li>2024, Excellent Part-time Counselor (优秀兼职辅导员), Beijing Jiaotong University.</li>
		<li>2024, Best Student Paper Award of the Intelligent Vehicles Symposium (智能汽车研讨会最佳学生论文奖), China Computer Federation (CCF).</li>

		<li>2023, Advanced Class Award (北京市先进班集体, 团体奖), Beijing Municipal Commission of Education.</li>
		<li>2023, Advanced Class of Graduate Students Award (研究生先进班集体, 团体奖), Beijing Jiaotong University.</li>	
		<li>2023, XiaoMi Scholarship (小米奖学金), Beijing Jiaotong University Education Foundation & Xiaomi Foundation. </li>
		<li>2023, Second-Class Academic Scholarship (二等学业奖学金), Beijing Jiaotong University. </li>
		<li>2023, Excellent Graduate Student Cadre (优秀研究生干部), Beijing Jiaotong University.</li>
		<li>2023, Excellent Scholarship in Social Work (社会工作优秀奖学金), Beijing Jiaotong University.</li>

		<li>2022, Admission Academic Scholarship (入学学业奖学金), Beijing Jiaotong University. </li>
		<li>2022, Excellent Part-time Counselor (优秀兼职辅导员), Beijing Jiaotong University.</li>
		<li>2022, Global Runner-up in the DEF CON'30 Autonomous Driving CTF Challenge, <a href="https://anquan.baidu.com/">Baidu Security</a> & <a href="https://www.uci.edu/">UCI</a>. [<a href="https://cs.bjtu.edu.cn/jdxw/202301310.htm">新闻:祝贺计算机学院信息安全系THETA团队在DEFCON30 AutoDriving赛事获得优异成绩</a>]</li>
		<li>2022, First Price of the 2022 Beijing Winter Olympics Vulnerability Mining Competition, <a href="https://www.pcl.ac.cn/">Peng Cheng Laboratory</a>. [<a href="https://cs.bjtu.edu.cn/jdxw/202301276.htm">新闻:计算机学院信安团队参与冬奥卫士演练活动荣获一等奖</a>]</li>
		<li>2022, A letter of appreciation from the National Major Network Security Test and Assessment Activity, <a href="https://www.pcl.ac.cn/">Peng Cheng Laboratory</a>. [<a href="https://cs.bjtu.edu.cn/jdxw/202301273.htm">新闻:计算机学院信安团队参与国家重大网络安全试验测试活动获感谢信</a>]</li>
		<li>2021, Global Runner-up in the DEF CON'29 Autonomous Driving CTF Challenge, <a href="https://anquan.baidu.com/">Baidu Security</a> & <a href="https://www.uci.edu/">UCI</a>. [<a href="https://cs.bjtu.edu.cn/jdxw/202301241.htm">新闻: DEF CON 29 Contest自动驾驶CTF赛亚军</a>]</li>
	</ul>


	<!-- <h3>
		Academic Service
	</h3>
	<h4>
		<a name='Reviewer'></a> Reviewer
	</h4>
	<ul>
		<li>TIFS: IEEE Transactions on Information Forensics & Security, 2025</li>
		<li>TDSC: Transactions on Dependable and Secure Computing, 2025</li>
		<li>AAAI: AAAI Conference on Artificial Intelligence, 2024</li>
		<li>ACM MM: ACM Multimedia, 2025</li>
		<li>IJCNN: International Joint Conference on Neural Networks, 2025</li>
	</ul> -->
</div>