<div class='award'>
	<h3>
		Selected Awards
	</h3>

	<h4>
		Academic Scholarship:
	</h4>
	<ul >
		<li><strong>ZhiJin Scholarship (智瑾奖)</strong>, Beijing Jiaotong University Education Foundation, 2024. Thanks for <a href="https://foundation.bjtu.edu.cn/jzxm/rcpy/202312349.htm">Beijing Jiaotong University Education Foundation</a>, Mr. Ruoyu Mo (莫若愚先生) and Mrs. Peijin Qin (秦佩瑾女士)!</li>
		<li><strong>Excellent Scholarship in Social Work</strong>, Beijing Jiaotong University, 2024.</li>
		<li><strong>XiaoMi Scholarship (小米奖学金)</strong>, Xiaomi Foundation, 2023. Thanks for <a href="https://gongyi.mi.com/foundation#/home">Xiaomi Foundation</a> and <a href="https://www.mi.com/">Xiaomi Corporation</a>!</li>
		<li><strong>Excellent Scholarship in Social Work</strong>, Beijing Jiaotong University, 2023.</li>
	</ul>

	<h4>
		Student Leadership Awards: 
	</h4>
	<ul >
		<li><strong>Advanced Class of Graduate Students Award</strong>, Beijing Jiaotong University, 2024. (Team Leader)</li>	
		<li><strong>Excellent Graduate Student Cadre</strong>, Beijing Jiaotong University, 2024.</li>
		<li><strong>Excellent Part-time Counselor</strong>, Beijing Jiaotong University, 2024.</li>
		<li><strong>Advanced Class Award</strong>, Beijing Municipal Commission of Education, 2023. (Team Leader)</li>
		<li><strong>Advanced Class of Graduate Students Award</strong>, Beijing Jiaotong University, 2023. (Team Leader)</li>
		<li><strong>Excellent Graduate Student Cadre</strong>, Beijing Jiaotong University, 2023.</li>
		<li><strong>Excellent Part-time Counselor</strong>, Beijing Jiaotong University, 2022.</li>
	</ul>


	<h4>
		Competition Awards:
	</h4>
	<ul >
		<li><strong>Global Runner-up in the DEF CON'30 Autonomous Driving CTF Challenge</strong>, <a href="https://anquan.baidu.com/">Baidu Security</a> & <a href="https://www.uci.edu/">UCI</a>, 2022. (Team Leader) [<a href="https://cs.bjtu.edu.cn/jdxw/202301310.htm<">News</a>]</li>
		<li><strong>First Price of the 2022 Beijing Winter Olympics Vulnerability Mining Competition</strong>, <a href="https://www.pcl.ac.cn/">Peng Cheng Laboratory</a>, 2022. (Team Leader) [<a href="https://cs.bjtu.edu.cn/jdxw/202301276.htm">News</a>]</li>
		<li><strong>A letter of appreciation from the National Major Network Security Test and Assessment Activity</strong>, <a href="https://www.pcl.ac.cn/">Peng Cheng Laboratory</a>, 2022. (Team Leader) [<a href="https://cs.bjtu.edu.cn/jdxw/202301273.htm">News</a>]</li>
		<li><strong>Global Runner-up in the DEF CON'29 Autonomous Driving CTF Challenge</strong>, <a href="https://anquan.baidu.com/">Baidu Security</a> & <a href="https://www.uci.edu/">UCI</a>, 2021. (Team Leader) [<a href="https://cs.bjtu.edu.cn/jdxw/202301241.htm">News</a>]</li>
	</ul>


	<h3>
		Academic Service
	</h3>
	<h4>
		<a name='Reviewer'></a> Reviewer
	</h4>
	<ul>
		<li>IEEE Transactions on Information Forensics & Security (CCF-A)</li>
		<li>AAAI Conference on Artificial Intelligence (CCF-A)</li>
		<li>ACM Multimedia (CCF-A)</li>
		<li>International Joint Conference on Neural Networks (CCF-C)</li>
		<li>IEEE Network Magazine</li>
	</ul>
</div>