
<div class='interest'>
	<h3>
		Research Interests
	</h3>
	<p>
		Recently, I have been interested in exploring various aspects of AI security, including the reliability and robustness of machine learning models, data security and privacy protection in big data environments, and the decision control of reinforcement learning and intelligent agent robots. Our goal is to reveal the vulnerabilities of these models and raise awareness, advocating for increased research dedicated to AI security. 
		The specific intersts are listed below:
	</p>
	<h4><a name='interest1'></a> <b>1) CPS/IoT security:</b></h4>
	<p>Attacks and defenses against the physical world, sensors, algorithms and intelligent systems.</p>
	
	<h4><a name='interest2'></a> <b>2) Data Augmentation:</b></h4>
	<p>Image/Instance generation, especially focus on generative data augmentation (GDA) for addressing corner cases and long-tail problems.</p>
	
	<h4><a name='interest3'></a> <b>3) Backdoor Learning:</b></h4>
	<p>Backdoor attacks and defenses on deep neural networks (DNNs).</p>

	<h4><a name='interest3'></a> <b>4) Reinforcement Learning:</b></h4>
	<p>Safety and robustness in reinforcement learning for robots and self-driving systems.</p>

	
</div>


