<div class='row'>
    <div class='col-xs-3' style="width: 21%;">
		<div class='photo'>
			<img src="assets/images/avatar-jbl.png" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Yalun (Aaron) Wu
			</h3>
		<p></p>
		<p></p>
		<p>

			I am a Ph.D. student in the <a href="https://cst.bjtu.edu.cn/">School of Cyberspace Science and Technology</a> at <a href="https://bjtu.edu.cn/">Beijing Jiaotong University</a>, advised by Prof. <a href="https://faculty.bjtu.edu.cn/5608/">Zhen Han</a>.
			Additionally, I am a joint Ph.D. student (funded by China Scholarship Council) at the <a href="https://www.tulip.academy/">TULIP Laboratory</a>, <a href="https://www.deakin.edu.au/">Deakin University</a>, where I am fortunate to work with Prof. <a href="https://experts.deakin.edu.au/28663-gang-li">Gang Li</a>.
			My research focuses on the security of safety-critical Cyber-Physical Systems (CPS), including the security of Autonomous Driving (AD) and robotic systems. My goal is to reveal the vulnerabilities of these systems, raise awareness, and thereby advocate for increased research dedicated to AI security.
			<!-- I have authored or co-authored about 20 academic papers in international conferences and journals.  -->
			I’m open to any kind of collaboration. If you are interested to chat with me, please feel free to contact me through email.
		</p>
		
		<p></p>
			<h3 style="padding-top:-5px"></h3>
			{% if site.email %}
				<a href="mailto: {{wuyalun1@bjtu.edu.cn}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                {% if site.website_google %}
				 <a href="https://scholar.google.com/citations?user=BF5dco0AAAAJ&&hl=en" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}
				 </a>
			{% endif %}
		    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			{% if site.github %}
				 <a href="https://github.com/Allenpandas" target="_blank"><i class="fa fa-github"></i> &nbsp; {{site.github}}</a>
			{% endif %}
	</div>
</div>
